.navbar {
    display: flex;
    justify-content: space-between; /* Đẩy 2 phần về 2 đầu */
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
}

.nav-links a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.lang-controls button {
    cursor: pointer;
    margin-left: 5px;
    padding: 5px 10px;
}